<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{title}}</h3>
</div>

<form name="form" role="form" ng-submit="submitform(form.$isvalid)" novalidate>

    <div class="modal-body" id="modal-body">

        <div class="error" ng-show="invoiceError">
            <h3>Invoice does not exist.</h3>
        </div>

        <div class="form-group" ng-show="!invoiceError">

            <div class="form-group">
                <label for="po_number">PO NUMBER</label>
                <input class="form-control" name="poNumber" id="po_number" ng-model="invoice.po_number" ng-disabled="disabled" ng-pattern="regex" ng-minlength="11"
                    ng-maxlength="11" required>
                <div ng-show="form.$submitted || form.poNumber.$touched">
                    <span ng-show="form.poNumber.$error.required">Purchace Order Number required.</span>
                    <span ng-show="form.poNumber.$error.ngPattern">Purchase Order Number must start with 'Z' and the next 10 character has to be a combination of 'A to F' or '0-9'.</span>
                    <span ng-show="form.poNumber.$error.ngMinlength">Purchase Order Number must be at 11 characters.</span>
                </div>
                
            </div>

            <div class="form-group" ng-controller="invoiceDatePickerController">
                <div class="row">
                    <div class="col-md-6">
                        <label for="invoice_date">Invoice Date</label>
                        <p class="input-group">
                            <input name="invoice_date" type="text" class="form-control" uib-datepicker-popup ng-model="invoice.invoice_date" is-open="popup1.opened" datepicker-options="dateOptions" placeholder="{{invoice.invoice_date}}"
                                ng-disabled="disabled" required/>
                            <span class="input-group-btn">
                                  <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                        </p>
                    </div>

                    <div class="col-md-6">
                        <label for="due_date">Due Date</label>
                        <p class="input-group">
                            <input name="due_date" type="text" class="form-control" uib-datepicker-popup ng-model="invoice.due_date" is-open="popup2.opened" datepicker-options="dateOptions" placeholder="{{invoice.due_date}}"
                                ng-disabled="disabled" required/>
                            <span class="input-group-btn">
                                  <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="amount_cents">Amount Cents</label>
                <input type="number" min="0" class="form-control" id="amount_cents" ng-model="invoice.amount_cents" ng-disabled="disabled"
                    required>
            </div>

        </div>

    </div>

</form>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="save(invoice)" ng-disabled="form.$invalid && !disabled">{{submitTitle}}</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>